.sectionIssues{
    width: 70%;
    margin-left: 15%;
    background: white;
    min-height: 700px;
    float: left;
}

.tituloIssues{
    width: 100%;
    height: 50px;
    box-shadow: 0px 3px 3px gray;
    float: left;
}

.tituloIssues h2{
    margin-left: 40%;
    margin-top: 10px;
    float: left;
}

.tituloIssues input{
    width: 10%;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background:#282c34;
    color: white;
    margin-left: 2%;
    float: left;
}

.tituloIssues input:hover{
    background: gray;
}

.divContenedorIssues{
    width: 100%;
    margin-top: 10px;
    min-height: 600px;
    /* background: blue; */
    float: left;
}

.divNombeRepositorio{
    width: 100%;
    height: 100px;
    float: left;
}

.divNombeRepositorio h3{
    text-align: center;
    margin-top: 30px;
}

.divIssues{
    width: 80%;
    min-height: 50px;
    margin-left: 10%;
    border: 1px solid gray; 
    background: #F7F7F7;
    float: left;
}

.divIssues a{
    margin-top: 10px;
    margin-left: 1%;
    float: left;
}

.divIssues:hover{
    background: #E0E0E0;
}

.labelName{
    background: #C3C3C3;
    font: 15px;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
    color: white;
    margin-left: 1%;
    float: left;
}

.demo{
    background: #85C3E5;
}

.priorityHigh{
    background: #F94168;
}

.priorityLow{
    background: #8CF177;
}

.enhancement{
    background: #77EEF1;
}