.sectionInicio{
    width: 70%;
    margin-left: 15%;
    background: white;
    min-height: 700px;
}

.imagenUsuarioGit{
    width: 90%;
    margin-left: 5%;
    height: 250px;
    overflow: hidden;
    border: 2px solid gray;
    border-radius: 50%;
}

.imagenUsuarioGit img{
    width: 100%;
    height: 250px;
}

.alto{
  height: 200px;
  border-radius: 5px;
  box-shadow: 0px 3px 3px grey;
  background: #F4F4F4;
}
