.sectionInicio{
    width: 70%;
    margin-left: 15%;
    background: white;
    min-height: 700px;
    float: left;
}

.formBuscador{
    width: 30%;
    margin-left: 35%;
    margin-top: 10px;
    /* background: blue; */
    height: 50px;
    float: left;
}

.formBuscador input[type='text']{
    width: 70%;
    height: 50px;
    border-radius: 5px;
    border: none;
    border: 1px solid gray;
}

.formBuscador input[type='submit']{
    width: 25%;
    margin-left: 1%;
    height: 50px;
    border-radius: 5px;
    border: none;
    background: #61dafb;
    color: white;
    text-shadow: 1px 1px 3px black;
    cursor: pointer;
}

.formBuscador input[type='submit']:hover{
    background: #A3DAF1;
}

.divDatosUsuario{
    width: 30%;
    margin-left: 35%;
    margin-top: 20px;
    /* background: burlywood; */
    height:370px;
    float: left;
}

.imagenUsuarioGit{
    width: 90%;
    margin-left: 5%;
    height: 250px;
    overflow: hidden;
    border: 2px solid gray;
    border-radius: 50%;
    float: left;
}

.imagenUsuarioGit img{
    width: 100%;
    height: 250px;
}

.nombreUsuarioGit{
    width: 100%;   
    height: 100px;
    /* background: blue; */
    float: left;
}

.nombreUsuarioGit h3{
    text-align: center;
    margin-top: 20px;
    font-size: 50px;
    font-weight: bold;
    /* float: left; */
}

.divBotones{
    width: 50%;
    margin-left: 25%;
    height: 50px;
    /* background: gray; */
    margin-top: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    float: left;
}

.divBotones input{
    width: 20%;
    height: 50px;
    border-radius: 5px;
    background: #282c34;
    color: white;
}

.divBotones input:hover{
    background: gray;
}

.divDatosGit{
    width: 29.7%;
    margin: 20px;    
    height: 300px;
    overflow: hidden;
    border-radius: 5px;
    background: #F0F0F0;
    box-shadow: 7px 7px 3px gray;
    float: left;
}

.divDatosGit p{
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    margin-top: 30px;
}

.divDatosGit a{
    text-align: center;
    margin-top: 20px;
    color: blue;
    display: block;
}
