.sectionComentarios{
    width: 70%;
    margin-left: 15%;
    background: white;
    min-height: 700px;
    float: left;
}

.tituloComentarios{
    width: 100%;
    height: 50px;
    box-shadow: 0px 3px 3px gray;
    float: left;
}

.tituloComentarios h2{
    margin-left: 40%;
    margin-top: 10px;
    float: left;
}

.tituloComentarios input{
    width: 10%;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background:#282c34;
    color: white;
    margin-left: 2%;
    float: left;
}

.tituloComentarios input:hover{
    background: gray;
}

.divComentario{
    width: 80%;
    margin-left: 10%;
    min-height: 200px;
    border: 1px solid gray;
    border-radius: 5px;
    /* background: beige; */
    margin-top: 10px;
    float: left;
}

.nombreComentario{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid black;
    background: #D8D8D8;
    float: left;
}

.imagenUsuario{
    width: 5%;
    height: 40px;
    margin-top: 5px;
    border-radius: 50%;
    margin-left: 2%;
    overflow: hidden;
    float: left;
}

.imagenUsuario img{
    width: 100%;
    height: 40px;
}

.nombreComentario h3{
    margin-left: 2%;
    margin-top: 10px;
    float: left;
}

.contenidoComentario{
    width: 100%;
    height: 150px;
    overflow: hidden;
    float: left;
}

.contenidoComentario p{
    /* width: 98%;
    margin-left: 1%;
    margin-top: 20px; */
    line-height:30px;
    margin: 10px;
}